.Home .lander {
    padding: 50px 0;
    text-aling: center;
}

.Home .lander h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}

.Home .lander p {
    color: #999;
}

@media all and (min-width: 480px) {

    .Login form {
        margin: 0 auto;
        max-width: 320px;
    }
}
